<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.seniorproject.smartshopping">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/icon_app"
        android:label="SmartShopping"
        android:roundIcon="@mipmap/icon_app"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".controller.activity.LoginActivity"
            android:label="ถูกจังเลย"
            android:theme="@style/AppThemeWithNoActionBar"
            android:windowSoftInputMode="adjustResize|stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".controller.activity.MainActivity"
            android:theme="@style/AppThemeWithNoActionBar"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".controller.activity.MoreItemInventoryActivity"
            android:theme="@style/BrownTheme"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".controller.activity.MoreShoppingListItemActivity"
            android:theme="@style/BrownTheme" />

        <activity android:name=".superuser.SuperUserItemActivity" />
        <activity
            android:name=".controller.activity.OCRActivity"
            android:theme="@style/BrownTheme" />
        <activity
            android:name=".controller.activity.MoreGroupSettingActivity"
            android:windowSoftInputMode="adjustResize|stateHidden"
            android:theme="@style/BrownTheme"/>

        <receiver android:name=".controller.boardcastreceiver.AlarmReceiver" />
        <activity
            android:name=".controller.activity.MoreBuyItemManuallyActivity"
            android:theme="@style/BrownTheme" />
    </application>

</manifest>